* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Arial;
    overflow-wrap: anywhere;
}

.shopping_card_text {
    margin: 50px auto;
    font-size: 80px;
    font-weight: bold;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.shopping_card_items {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex_item {
    display: flex;
    flex-direction: column;
}

.items_text {
    font-size: 50px;
    font-weight: bold;
}

.items_text:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dont_have {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #f3214f;
    margin-bottom: 200px;
}

.item_shopping_card {
    width: 100%;
    max-width: 1200px;
    height: 210px;
    display: flex;
    background: #f0e3ca;
    border: black 1px solid;
    margin: 5px 10px;
    border-radius: 5px;
}

.item_picture {
    max-width: 200px;
    width: 100%;
    height: 190px;
    margin-right: 100px;
}

.item_picture img {
    max-width: 200px;
    width: 100%;
    height: 190px;
    border: #152644 1px solid;
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 10px;
}

.item_name {
    font-size: 40px;
    font-weight: bold;
    color: #152644;
    display: flex;
    margin-top: 5px;
    margin-bottom: 80px;
}

.item_price {
    font-size: 35px;
    font-weight: bold;
    color: #152644;
    display: flex;

}

.items_text:nth-child(3) {
    margin-bottom: 50px;
    margin-left: 20px;
}

.flex {
    display: flex;
    max-width: 600px;
    width: 100%;
    margin-bottom: 100px;
    margin-left: 20px;
}
.flex_form{
    margin:auto 0;
}
.ubrat{
    border-radius: 5px;
    height: 40px;
    background: white;
    border: none;
    box-shadow: 1px 2px 7px -1px #000000;
    transition: 0.3s ease;
}
.ubrat:hover{
    transform: scale(1.1);
    background: #f3214f;
    color: white;
    border: 1px solid black;
    box-shadow: none;
}

.form:nth-child(1) {
    max-width: 200px;
    width: 100%;
    margin-right: 100px;
}

.form:nth-child(2) {
    max-width: 200px;
    width: 100%;
}

.button_clear {
    max-width: 200px;
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 50px;
    transition: 0.5s ease;
}

.button_buy {
    max-width: 200px;
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 50px;
    transition: 0.5s ease;
}

.button_clear:hover {
    transform: scale(1.1);
    background: #f3214f;
    color: white;
}

.button_buy:hover {
    transform: scale(1.1);
    background: #1eae98;
    color: white;
}